header {
    width: 100%;
    flex-direction: column;
    align-items: center;
}


#logo {
    width: 100px;
    height: 100px;
}


#menu {
    justify-content: space-around;
}

#menu_reservation,
#menu_aide {

    font-size: 5vw;
}

#slider {
    margin-top: 10px;
}

#slider_close {
    font-size: 5vw;
}

#slider_diapo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0%;
    height:350px;
}

#slider_txt {
    font-size: 2.4vw;
    width: 90%;
    display: block;
}

#slider_img {
    width: 90%;
}

#slider_btn{
    font-size: 7vw;
    margin-top: 10px;
}

#map {
    height: 400px;
}

#station_canvas {
    width: 95%;
    height: 440px;
    border-color: #4f77f0;
    margin-top: 10px;
}

#reservation_canvas {
    margin-top: 30px;
}

